[program:{{ item.key }}-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/{{ item.key }}/current/artisan queue:work --sleep=3 --tries=3
autostart=true
autorestart=true
user=nginx
numprocs=4
redirect_stderr=true
stdout_logfile=/var/log/{{ item.key }}-worker.log