[program:{{ item.key }}-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/{{ item.key }}/artisan queue:work --sleep=3 --tries=3 --queue={{ item.key }} --timeout={{ item.value.queue_worker_timeout|default(60) }} --daemon
autostart=true
autorestart=true
user=nginx
numprocs=4
redirect_stderr=true
stdout_logfile=/var/log/{{ item.key }}-worker.log